*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Funnel Display', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 2rem;
    color: rgb(2, 6, 80);
    cursor: default;
}

.navigation{
    margin-left: -200px;
}

.navigation a{
    font-size: 1.1em;
    color: beige;
    text-decoration: none;
    margin-right: 40px;
    font-weight: 500;
    transition: .3s;
}

.navigation a:hover{
    color: rgb(2, 6, 80);
}

.btn-talk{
    color:darkorange;
    text-decoration: none;
    padding: 8px 35px;
    background-color: rgb(2, 6, 80);
    border-radius: 10px;
    border: 2px solid rgb(2, 6, 80);
    font-weight: 500;
    transition: .3s;
}

.btn-talk:hover{
    color:darkorange;
    background-color: transparent;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: "image.JPG";
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 100px;
}

.content{
    max-width: 500px;
    color:aquamarine;
}

.content h2{
    font-size: 3em;
}

.content h2 span{
    color:rgb(2, 6, 80);
}

.content h4{
    font-size: 2em;
}

.content p{
    padding: 10px 0 40px 0;
}

.social-icons{
    position: absolute;
    bottom: 50px;
}

.social-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background: rgb(2, 6, 80);
    border-radius: 50%;
    margin-right: 22px;
    text-align: center;
    line-height: 35px;
    border: 1px solid whitesmoke;
    outline: 2px solid salmon;
    transition: .3s;
}

.social-icons:hover{
    transform: translate(-5px);
}

.social-icons a i{
    color: whitesmoke;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    background-color: cadetblue;
}

.content{
    max-width: 50%;
    color: wheat;
}

.profile-image{
    flex-shrink: 0;
    height: 350px;
    width: 350px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 8px 20px rgba(0, 0, 0,0.15);
    border: 5px solid salmon;
}

.profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
